# useDynLib(SelvarMix)
useDynLib(SelvarMixExt, .registration=TRUE)
#exportPattern("^[[:alpha:]]+")
export(SelvarClustLasso, SortvarClust)
#importMethodsFrom("SelvarMix", selvarmix)
#exportClasses(selvarmix)
#exportMethods(selvarmix,summary, print)
# S3method(summary, selvarmix)
S3method(summary, selvarmixext)
S3method(print, selvarmixext)
#exportClasses(selvarmix)
importFrom(Rcpp, sourceCpp)
importFrom("methods", is)
importFrom("stats", cov, kmeans)
importFrom("Rcpp", evalCpp)
importFrom("glasso", glasso)
importFrom("glassoFast", glassoFast)
importFrom("Rmixmod", mixmodCluster, mixmodLearn, mixmodGaussianModel, mixmodPredict, is.wholenumber, mixmodStrategy)
importFrom("mclust", Mclust, mclustBIC, densityMclust, mixmodCluster)
importFrom("MixAll", clusterDiagGaussian, ClusterStrategy, missingValues)
importFrom("mclust", Mclust, hc)
importFrom("parallel", mclapply, parLapply, clusterApply, makeCluster,  clusterExport,  detectCores,  stopCluster, parApply, clusterEvalQ)

